@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* COLORS */
  --clr-primary: #ff4000;

  /* FONTS */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Berkshire Swash", cursive;

  /* TRANSITIONS */
  --transition-normal: 0.5s ease-in-out;
  --transition-fast: 0.2s ease-in-out;
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--ff-primary), sans-serif;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */

/* header,
header * {
  outline: 1px solid red;
} */

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  z-index: 20;
  background: #fff;
  box-shadow: 20px 20px 50px 20px rgba(255, 255, 255, 0.8);
}

/* LOGO */

.logo-container .logo {
  font-size: 2.5rem;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: var(--transition-fast);
}

.logo-container .logo:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.logo-container .logo:hover {
  color: var(--clr-primary);
}

/* SEARCH */

.search-container {
  position: relative;
  left: calc(10% - min(10%, 50px));
  width: 60px;
  height: 60px;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-fast);
  cursor: pointer;
}

.search-container:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.search-container ion-icon {
  font-size: 2rem;
  color: #000;
  transition: var(--transition-fast);
}

.search-container:hover ion-icon {
  color: var(--clr-primary);
}

.search-container.active {
  width: 300px;
  border-radius: 50px;
  justify-content: flex-start;
}

.search-container input {
  display: none;
}

.search-container.active input {
  display: block;
  border: none;
  height: 30px;
  width: 80%;
  padding: 0 1rem;
  margin: 0 1rem;
  letter-spacing: 1px;
  color: #000;
}

/* BAR */

.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bar-container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 10%;
}

.bar-container .nav li {
  list-style: none;
  padding: 1rem;
  cursor: pointer;
  transition: var(--transition-fast);
}

.bar-container .nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  transition: var(--transition-fast);
}

.bar-container .nav li:hover a {
  color: var(--clr-primary);
}

.bar-container .check-out {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-fast);
  cursor: pointer;
}

.bar-container .check-out:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.bar-container .check-out ion-icon {
  font-size: 2rem;
  color: #000;
  transition: var(--transition-fast);
  cursor: pointer;
}

.bar-container .check-out:hover ion-icon {
  color: var(--clr-primary);
}

.bar-container .check-out .number {
  position: absolute;
  height: 20px;
  padding: 6px;
  border-radius: 50%;
  background: var(--clr-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.bar-container .menu-mobile {
  display: none;
  color: #000;
  font-size: 2rem;
  z-index: 100;
  cursor: pointer;
  transition: var(--transition-fast);
}

.bar-container .menu-mobile:hover {
  color: var(--clr-primary);
}

.bar-container .menu-mobile.active {
  position: relative;
  transform: rotateZ(45deg);
}

/* NAVIGATION */

.nav-mobile {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 20;
  transition: var(--transition-fast);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.nav-mobile.active {
  opacity: 0.9;
  visibility: visible;
  transform: translateX(0);
}

.nav-mobile li {
  list-style: none;
  padding: 1rem;
}

.nav-mobile li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  transition: var(--transition-fast);
}

.nav-mobile li:hover a {
  color: var(--clr-primary);
}

/* BANNER */

.banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
  transition: var(--transition-normal);
}

/* IMAGE CARD */

.banner-container .food-card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: var(--transition-normal);
  transform-style: preserve-3d;
}

.banner-container .food-card.active {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.banner-container .food-card .image {
  position: absolute;
  backface-visibility: hidden;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition-normal);
}

.banner-container .food-card .image img {
  width: 100%;
  height: 100%;
  clip-path: circle(50%);
}

.banner-container .food-card .description {
  position: absolute;
  backface-visibility: hidden;
  padding: 4rem;
  width: 650px;
  height: 650px;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition-normal);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.description h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.description p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.description .download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description .download li {
  list-style: none;
}

.description .download li img {
  max-width: clamp(150px, 12vw, 200px);
}

.description .price {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-primary);
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* BUTTONS */

.btn-container .btn {
  position: absolute;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: var(--transition-fast);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container .btn.active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-container .btn:hover,
.btn-container .btn:hover * {
  color: var(--clr-primary);
}

.btn-container .btn ion-icon {
  font-size: 1.5rem;
  color: #000;
  transition: var(--transition-fast);
}

.btn-learn-more {
  bottom: 25%;
  left: 70%;
  padding: 0.5rem 1.5rem;
  transform: translateX(-50%);
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  gap: 0.5rem;
}

.btn-order {
  bottom: 40%;
  left: 72%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.btn-order:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* CONTENT TITLE */

.banner-container .content {
  position: relative;
  top: -10%;
}

.banner-container .content * {
  font-family: var(--ff-secondary);
  font-size: 8rem;
  letter-spacing: 2px;
}

.banner-container .content h1 ion-icon {
  position: relative;
  transform: translateX(10px) translateY(15px) rotateZ(-40deg);
  color: var(--clr-primary);
}

/* SELECTION CIRCLE */

/* .selection-container,
.selection-container * {
  outline: 1px solid red;
} */

.selection-container {
  position: relative;
  width: 20%;
  height: 100vh;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.selection-container .circle {
  position: absolute;
  top: 40%;
  transform: translateY(-50%) rotate(var(--rotate));
  width: 700px;
  height: 700px;
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    --rotate: 0deg;
  }
  33% {
    --rotate: 10deg;
  }
  66% {
    --rotate: -10deg;
  }
}

.selection-container h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translateY(-50%) rotateZ(90deg);
  font-family: var(--ff-secondary);
  font-size: 8rem;
  letter-spacing: 2px;
  text-align: center;
  opacity: 0.1;
  z-index: -1;
}

.selection-container .options {
  position: absolute;
  width: 170px;
  height: 170px;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
}

.selection-container .options:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.selection-container .options img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(50%);
}

.selection-container .options[data-id="1"] {
  top: 0;
  left: 10%;
}

.selection-container .options[data-id="2"] {
  top: 40%;
  left: -10%;
}

.selection-container .options[data-id="3"] {
  bottom: 0;
  left: 10%;
}

/* SOCIAL */

.social-container {
  position: absolute;
  bottom: 6%;
  left: 4%;
}

.social-container ul {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.social-container li {
  list-style: none;
  padding: 1rem;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-fast);
}

.social-container li:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.social-container li:hover {
  color: var(--clr-primary);
}

/* COPYRIGHT */

.cr-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 3rem 0.5rem 6rem;
  background: var(--clr-primary);
  border-top-left-radius: 1.5rem;
  font-size: 0.8rem;
  box-shadow: 20px 20px 20px 60px rgba(255, 255, 255, 0.8);
  color: #fff;
}

.cr-container p span {
  font-weight: bold;
}

/************************ MEDIA QUERIES ************************/

@media (max-width: 768px) {
  /* NAVBAR */
  .bar-container .nav {
    display: none;
  }

  .bar-container .menu-mobile {
    display: block;
  }

  /* COPYRIGHT */
  .cr-container {
    display: none;
  }

  /* SOCIAL */
  .social-container {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* FOOD CARD */
  .banner-container .food-card {
    top: 20%;
    width: 400px;
    height: 400px;
  }

  .banner-container .food-card .image {
    width: 350px;
    height: 350px;
  }

  .banner-container .food-card .description {
    padding: 1rem;
    width: 350px;
    height: 350px;
  }

  .description h3 {
    font-size: 1.25rem;
  }

  .description p {
    font-size: 0.75rem;
  }

  .description .download {
    gap: 0;
  }

  .description .download li img {
    max-width: 120px;
  }

  .description .price {
    font-size: 1.25rem;
  }

  /* CONTENT */
  .banner-container .content {
    top: -10%;
    z-index: 300;
    margin-inline: auto;
  }

  .banner-container .content * {
    font-size: 4rem;
  }

  /* SELECTION */
  .selection-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .selection-container .circle {
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(var(--rotate) + 90deg));
  }

  .selection-container .options {
    width: 120px;
    height: 120px;
  }

  .selection-container .options[data-id="1"] {
    top: 20%;
    left: -3%;
  }

  .selection-container .options[data-id="2"] {
    top: 42%;
    left: -8%;
  }

  .selection-container .options[data-id="3"] {
    bottom: 20%;
    left: -3%;
  }
}
